
.btn-style {
  font-family: VT323;
  width: 8em;
  font-size: 1.25rem;
  border-radius: 50px;
  background-color: #FF4B65;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}


button:hover {
  background-image: linear-gradient(145deg,
      transparent 10%,
      #9C2C2C 10% 20%,
      transparent 20% 30%,
      #9C2C2C 30% 40%,
      transparent 40% 50%,
      #9C2C2C 50% 60%,
      transparent 60% 70%,
      #9C2C2C 70% 80%,
      transparent 80% 90%,
      #9C2C2C 90% 100%);
  animation: background 8s linear infinite;
  background-color: #b66886;
  border-color: #f4f4f4;

}

@keyframes background {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 400px 0;
  }
}

/*
@media (min-width: 768px) {
  .start-button {
    padding: 15px 30px;
    width: initial;
    text-align: center;
  }
} */