
#countdown {
    
    top: 60px;
    right: 20px;
    background-color: rgb(143, 143, 143);
    border: 2px solid #77cc0aff;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 24px;
}

/* Estilos para los botones de dificultad */
.difficulty-button {
    background-color: #D83D3D;
    color: #D9D9D9;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

