footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #6C53A4;
    padding-bottom: 1rem;
    padding: 1.2rem;
    color: white;
    text-align: center;
}

.contact-icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-icons i {
    color: #f3c89f;
}

.copyright-container {
    width: 25%;
    height: 25px;
    font-weight: bolder;
    font-size: 1.1rem;
    background-color: #D9D9D9;
    border: solid #D9D9D9;
    text-align: center;
    margin: 0 auto;
}

@media (min-width: 768px) {
    footer{
        background-color: rgb(245, 24, 189);
    }
    .contact-icons {
        width: 35%;
        height: 35px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .copyright-container {
        font-size: 8dvh;
        width: auto;
        text-align: center;
    }
}