#bannerImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bannerImg img {
  width: 5rem;
}

#formUser{
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  font-family: VT323;
  margin: auto;
  width: 90%;
  margin-top: 1em;
  border-radius: 0.4em;
}

#nameContainer h2{
  margin-top: 1em;
  font-size: 1.2em;
  text-align: center;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1.5em;
  text-align: center;
  padding: 0 20px;
  
}

.form-group label{
  font-size: 1.2em;
}

.player-name, .form-input{
  border-radius: 0.6em;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.form-input{
  color: gray;
}


.save-name-button,
.anonymously-button {
  margin: auto;
}

.save-name-button:hover,
.anonymously-button:hover {
  background-color: #b66886;
  border-color: #f4f4f4;

}

@media (min-width: 768px) {
  #bannerImg img {
    width: 7rem;
  }

  .save-name-button:hover,
.anonymously-button:hover {
  background-color: #52d270;
  border-color: #f4f4f4;

}
}

@media (min-width: 1200px) {
  #bannerImg img {
    width: 9rem;
  }

  .save-name-button:hover,
.anonymously-button:hover {
  background-color: orange;
  border-color: #f4f4f4;
}
}
