.how-to-play-button {
    padding: 8px 16px;
    font-size: 12px;
    background-color: #C20B50;
    color: white;
    border: 4px solid #0f0a0a;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: VT323;
  }
  
  .how-to-play-button:hover {
    background-color: #b66886;
    border-color: #f4f4f4;
  
  }

  .instructions {
    display: none;
    font-family: VT323;
    font-size: 16px;
    background-color: #F6DE84;
    gap: 10px;
}

h2 {
    font-family: VT323;
    font-size: 20px;
    color: rgb(226, 43, 107);
}

.casey-the-archer {
height: 150px;
width: 150px;
border-radius: 10%;
}

@media (min-width: 768px) {

    .instructions {
        font-size: 25px;
    }}
    h2 {
        font-size: 28px;
        color: rgb(226, 43, 107);
    }
    .casey-the-archer {
    height: 350px;
    width: 350px;
    border-radius: 10%;
    }
    
    