

#instructionsAndPlay {
    display: none;
    margin-top: 2em;
}

#modalInstructions {
    display: none;
    font-family: VT323;
    font-size: 16px;
    background-color: #F6DE84;
    gap: 10px;
    max-width: 80%;
    margin: auto;
    padding: 3px;
    /* display: none; */

}

.instructions {
    width: 80% !important;

}

.img-casey {
    margin: auto;

}


.img-casey img {
    width: 100%;

}

.buttons-game {
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

/* @media (min-width: 768px) {

    .instructions {
        font-size: 25px;
    }
    .casey-the-archer {
        height: 350px;
        width: 350px;
        border-radius: 10%;
    }
} */


/* Estilos para pantallas de escritorio */
@media only screen and (min-width: 1024px) {}

/* Estilos para tabletas */
@media only screen and (min-width: 481px) and (max-width: 1023px) {}

/* Estilos para dispositivos móviles */


/* @media only screen and (max-width: 480px) {
    #modalInstructions {
        display: flex;
        flex-direction: column;
        font-family: VT323;
        font-size: 25px;
        background-color: #F6DE84;
        gap: 10px;
        margin: auto;
        padding: 3px;
       
    
    }

    .buttons-game {
        height: 300px;
    }
    
} */
