/* 
 CSS HEX 
--yellow-green: #77cc0aff;
--peach: #f3c89fff;
--rose-red: #c20b50ff;
--floral-white: #f9f7efff;
--russian-violet: #2c1c51ff;
*/



#displayGame {
    margin: 0;
    font-family: sans-serif;
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column;
    background-color: #f9f7efff;
    user-select: none;
    border:rgb(225, 255, 0) 1px solid;
}

#displayGame{
    background-image: url(../img/stageBkg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#counter{
    position: relative;
    max-height: 15em;
    min-height: 10em;
}

#counterImage {
    max-height: 15em;
    min-height: 10em;
    justify-content: end;
}

#total-Score {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fa0000; 
}

.infinite-carousel {
    margin: 2em 0;
    /* max-width: 1000px; */
    width: 90%;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            #fff 30%,
            #fff 80%,
            transparent);
    mask: linear-gradient(90deg,
            transparent,
            #fff 30%,
            #fff 80%,
            transparent);
}

.image-container {
    width: max-content;
    /* padding: 2px 0; */
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 5.5em;
    list-style: none;
    /* border: red solid 1px; */
    cursor:url(../img/mouseTargetOff.png)64 64, auto; 
}

.infinite-carousel .moving-fruit {
    max-width: 20em;
}


.moving-fruit {
    max-width: 3em;
    max-height: 9.5em;
    padding-left: 2em;  
    /* animation: slideRightToLeft 30s linear infinite; Ajusta la duración de la animación */
    /* margin: 0.2% 0.2%;   Ajusta el espacio entre las imágenes */
}

.image-fruit:hover {
    filter: brightness(2.75);
    cursor:url(../img/mouseTargetOn.png) 64 64, auto; 
}

.cherry{
    margin-left: 6.3em;
}

 @keyframes move {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-15000px);
    }
}  


/* el happy no puede funcionar si no se usa el mismo tiempo */
/* @keyframes happy {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.8);
    }
    100% {
        transform: scaleY(1);
      }
  }
 */



.image-plank {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}


@keyframes starSlideUp {
    0% {
        opacity: 0.8;
    }

    10% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(-800%);
        opacity: 0;
    }
}



