.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input,
.playerName {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.save-name-button,
.anonymously-button {
  padding: 8px 16px;
  font-size: 12px;
  background-color: #C20B50;
  color: white;
  border: 4px solid #0f0a0a;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.save-name-button:hover,
.anonymously-button:hover {
  background-color: #b66886;
  border-color: #f4f4f4;

}

.text-message,
#message {
  color: #333;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.score-display,
#score {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {

  .form-input,
  .button,
  .player-name,
  .save-name-button,
  .anonymously-button {
    width: auto;
    font-size: 16px;
  }

  .save-name-button,
  .anonymously-button {
    padding: 15px 30px;
    width: initial;
  }
}