.quit-button {
    font-family: VT323;
    width: 8rem;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 40px;
    border-color: black;
    background-color: #D83D3D;
    color: white;
    cursor: pointer;
}
.quit-button:hover {
        background-image: linear-gradient(
          145deg,
           transparent 10%,
          #9C2C2C 10% 20%,
          transparent 20% 30%,
          #9C2C2C 30% 40%,
          transparent 40% 50%,
          #9C2C2C 50% 60%,
          transparent 60% 70%,
          #9C2C2C 70% 80%,
          transparent 80% 90%,
          #9C2C2C 90% 100%
        );

        animation: background 8s linear infinite;
}
      
      @keyframes background {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 400px 0;
        }
      }


/* Estilos para pantallas de escritorio */
@media only screen and (min-width: 1024px) {}

/* Estilos para tabletas */
@media only screen and (min-width: 481px) and (max-width: 1023px) {}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 480px) {
    
}