/* 
 CSS HEX 
--yellow-green: #77cc0aff;
--peach: #f3c89fff;
--rose-red: #c20b50ff;
--floral-white: #f9f7efff;
--russian-violet: #2c1c51ff;
*/
/*  */


/* Styles Navbar */
@import url(./body.css);
@import url(./navbar.css);
@import url(./formUser.css);
@import url(./btnStyle.css);

@import url(./instruction.css);
@import url(./game.css);

@import url(./footer.css);


/*

@import url(./countdown.css);

@import url(./restart.css);
 */


